@import "tailwindcss";
@import "@repo/tailwind-config";

::-webkit-scrollbar {
  width: 8px;
  background: #c8cff3;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #0f2a8a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f2a8a;
}

/* Animations */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
